:host {
    height: 100%;
    display: flex;
    flex-direction: row;

    .contact-container {
        flex: 1;
        height: 100%;
        overflow-y: auto;
    }

    .contact-list-container {
        min-width: 4rem;
        width: 20rem;
        max-width: 50vw;
        resize: horizontal;
        overflow-y: auto;
        border-right: 1px solid var(--mat-sys-outline-variant);
    }

    // 让Material Design处理toolbar样式
    mat-toolbar {
        border-bottom: 1px solid var(--mat-sys-outline-variant);
    }

    // 搜索框布局
    .search-field {
        width: 100%;
        margin: 0;
    }
}