<div class="sidebar">
    <a mat-icon-button routerLink="/home" routerLinkActive="active">
        <mat-icon>home</mat-icon>
    </a>
    <a mat-icon-button routerLink="/search" routerLinkActive="active">
        <mat-icon>search</mat-icon>
    </a>
    <a mat-icon-button routerLink="/chats" routerLinkActive="active">
        <mat-icon>chat</mat-icon>
    </a>
    <a mat-icon-button routerLink="/contacts" routerLinkActive="active">
        <mat-icon>
            contacts
        </mat-icon>
    </a>
    <a mat-icon-button routerLink="/drive" routerLinkActive="active">
        <mat-icon>cloud</mat-icon>
    </a>
</div>
<div class="sidebar">
    <button mat-icon-button [matMenuTriggerFor]="addMenu">
        <mat-icon matListItemIcon>add</mat-icon>
    </button>
    <button mat-icon-button (click)="toggleTheme()">
        <mat-icon>
            {{ theme == 'light' ? 'dark_mode' : 'light_mode' }}
        </mat-icon>
    </button>
    @if(profile) {
    <button mat-icon-button (click)="openProfileEditor()">
        @if(profile.pictureId){
        <img [src]="profile.pictureId | fileUrl | async" alt="Profile Picture" class="profile-picture">
        }@else {
        <mat-icon>account_circle</mat-icon>
        }
    </button>
    } @else {
    <button mat-icon-button>
        <mat-icon>account_circle</mat-icon>
    </button>
    }
    <a mat-icon-button routerLink="/settings">
        <mat-icon>settings</mat-icon>
    </a>
</div>
<mat-menu #addMenu="matMenu" yPosition="above" xPosition="before">
    <button mat-menu-item>
        <mat-icon>person_add</mat-icon>
        <span>Add Frends</span>
    </button>
    <button mat-menu-item (click)="createGroup()">
        <mat-icon>group_add</mat-icon>
        <span>Create Group</span>
    </button>
    <button mat-menu-item (click)="createChannel()">
        <mat-icon>campaign</mat-icon>
        <span>Create Channel</span>
    </button>
</mat-menu>
<mat-menu #profileMenu="matMenu" yPosition="above" xPosition="before">
    <button mat-menu-item (click)="openProfileEditor()">
        <mat-icon>person_add</mat-icon>
        <span>View Profile</span>
    </button>
    <button mat-menu-item (click)="openProfileEditor()">
        <mat-icon>person_add</mat-icon>
        <span>Edit Profile</span>
    </button>
</mat-menu>